/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    background-color: rgb(0, 0, 0);
    
}
#mainHeading {
    
    background-image: url(photos/blueishgloss.jpg);
    /*color:red*/
}
h1 {
    font-family: Lora;
    text-align: center;
    color:rgb(208, 212, 216);
    padding:5px;

}
 
h4{
   font-family:Inconsolata;
   text-align: center; 
   color:rgb(208, 212, 216);
   padding-bottom: 30px;
}

#home-page-nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    

}
.home-page-nav-bar-item:hover{
    opacity: 50%;
    cursor:grab;
    transform: scale(0.99,0.95);
}

#home-page-main-wrapper {
    /*display:flex */
}

.home-page-descriptions {
   background-image: url(photos/iphonechatbubble.png);
   opacity: 100%;
   width: 645px;
   height: 390px;
   margin-top: 10rem;
   overflow: hidden;
}
.funParagraph {
    font-family: Roboto;
    font-size: 0.97rem;
    color:rgb(248, 244, 244);
    opacity:100%;
    margin-left:10px;
    padding-left: 40px;
    padding-top: 30px;
    padding-right:50px;
    overflow: hidden;
    /*color:green; */
}
.home-page-asking-text {
    color:rgb(255, 254, 254);
   overflow: hidden;
   font-family: Roboto;
   font-size: 1.8rem;
   margin:auto;
   padding-top:50%;
   padding-left: 27%;
   padding-right: 4%;
}
.grey-chat-bubble {
    padding:0px;
    margin:0px;
    background-image: url('photos/iphgreychatbubble.png');
    height:350px;
    width: 550px;
}
#music-question {
    padding-right: 10%;
    font-size: 1.6rem;
}
#coding{
padding-top: 5px;
padding-bottom: 6px;
margin-left: 50%;
}
#music {
 margin-left: 50%;
}
#musicParagraph{
    padding-top: 50px;
    padding-right:69px;
    font-size: 0.97rem;

}
#discGolf{
    margin-left: 50%;
}
#discGolfParagraph{
    padding-top: 50px;
    padding-right:71px;
    font-size: 0.97rem;
}
#myDog{
    margin-left: 50%;
}
#dogParagraph {
    margin-left:10px;
    padding-left: 40px;
    padding-top: 0px;
    padding-right:50px;
}
#dog-img {
    margin-left: 30%;
    margin-bottom: 0%;
    padding-bottom: 0rem;
    padding-top: 40px;
}